# Executables
*.exe

# Output files
*.html
*.stx
*.xst
*.lso
*.syr
*.xrpt
*.prj
*.ngc
*.ngr
*.ncd
*.cmd_log
*.xmsgs
*.xreport
*.projectmgr
*_summary.html
ProcDev/xst/*
ProcDev/webtalk_pn.xml
ProcDev/sch2HdlBatchFile
*.gise
*.wdb

# Simulation stuff
ProcDev/isim/*
ProcDev/isim.*
ProcDev/fuse.*
ProcDev/fuseRelaunch.cmd
ProcDev/xilinxsim.ini

# Output texts
**/_xmsgs/**

# Unneeded stuff from ipcores
ProcDev/ipcore_dir/tmp/**


# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
